[submodule "Assets/External/Randomation-Vehicle-Physics"]
	path = Assets/External/Randomation-Vehicle-Physics
	url = https://github.com/RandomationGames/Randomation-Vehicle-Physics.git
[submodule "Assets/External/LeapMotion"]
	path = Assets/External/LeapMotion
	url = https://github.com/leapmotion/UnityModules.git
